* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.navbar {
  height: 70px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1)
}

.nav--icon {
  display: flex;
  padding: 20px 36px;
  max-width: 200px;
}

.hero--main {
  margin: auto;
  width: 50%;
  padding-top: 26px;
}

.hero--title {
  font-size: 36px;
  padding-top: 32px;
}

.hero--body {
  font-size: 16px;
  padding-top: 16px;
}
